h1, h2, h3 {
    font-family: sans-serif;
    font-weight: normal;
    color: white;
}
p {
   font-family: sans-serif;
color: white;}
a {font-family: sans-serif}
body {
    text-align: center;
    background-color: red;
}
