@import url('https://fonts.cdnfonts.com/css/hemi-head-426');

/* Place your CSS styles in this file */

h1, h2 {
    font-family: sans-serif;
    font-weight: normal;
}
p {
   font-family: sans-serif;}
a {font-family: sans-serif;}
body {
    max-width: max-content;
    margin: auto;
    }
