@font-face {
    font-family: 'Hemi Head';
    src: url('assets/fonts/HemiHead.ttf')
    font-weight: normal;
    font-style: normal;
  }
h1, h2 {
    font-family: sans-serif;
    font-weight: normal;
}
p {
   font-family: sans-serif;}
a {font-family: sans-serif;}
body {
    max-width: max-content;
    margin: auto;
    }
