@font-face {
    font-family: 'Hemi Head';
    src: url("https://github.com/Cbr-2011-Production/Cbr2011Animations.github.io/blob/main/assets/css/fonts/Hemi-Head.ttf");
  }
h1, h2 {
    font-family: sans-serif;
    font-weight: normal;
}
p {
   font-family: sans-serif;}
a {font-family: sans-serif;}
body {
    max-width: max-content;
    margin: auto;
    }
